body,ul,li,h1,h2,p{padding:0;margin:0;list-style-type:none}
body{z-index:2;font-family:Tahoma,Arial,sans-serif;font-size:1rem;background-color:#2675AF;color:#fff}
#con{position:relative}
header{height:12vw;min-height:5rem;position:relative;right:0;top:0;width:100%;background-color: #2675af;text-align: center;padding-top: 1rem;font-family: 'Times New Roman', serif;font-size: 1.5rem; font-weight: bold}
h1,h2{font-family:'Century Gothic',Tahoma,Arial,sans-serif;color:#111}
h1{font-size:1.25rem;padding:.5rem 0}
h2{font-size:1rem;padding:0 0 .5rem;}
a{color:#fff;text-decoration:none}
p{padding:0 1rem 1rem 0}

/*nav,ul,li*/
nav{}
nav li{display:block;white-space:nowrap;margin-bottom:.125rem;background-color:#8ac8f0;opacity:1;transition:.3s 0s}
nav li.navhover{background-color:#2675af;opacity:1}
/*logo,menuon*/
#nav02 li:nth-of-type(1){opacity:1}
#nav02 li:nth-of-type(1) a{border-top:2rem solid #8ac8f0;background-color:#2675af;background-image:url(/m/_logo.gif);background-size:contain;background-repeat:no-repeat;background-position:top center;height:2.5rem;padding:1rem 0}
/*a,b*/
nav a,nav b{display:block;background-size:auto 1.25rem;background-repeat:no-repeat}
nav a{padding:1rem 10.5rem 1rem 0;height:1rem;letter-spacing:.0625rem;background-position:center;background-origin:content-box;color:#000;font-family:Helvetica,"Trebuchet MS",Arial,sans-serif;font-size:1rem;background-image:url(/m/bullet.gif);transition:.15s all}
nav a:hover{background-color:#eee}
nav b{position:relative;left:50%;width:10rem;margin-left:1rem;font-weight:normal}

#dcon,footer{position:relative;width:100%}
#dcon{position:relative;vertical-align:top}
#dcon>div{background-color:#eee;color:#000;padding:1rem;text-align:justify}
#dcon ul{display:inline-block;padding-left:.25rem;vertical-align:top}
#dcon a{color:#000;text-decoration: underline}
#dcon ul:nth-of-type(2){width:20rem}
footer,footer a{font-size:.5rem;color:#ddd;margin:.5rem 0;text-align:center}

.contact{display:none}
span.tabbed{color:#bebebe;display:inline-block;position:relative;width:3rem}
#dcon span.tabbed{color:#555}
.contact a {padding: unset;height: unset;letter-spacing: unset;color: unset;background: none; text-decoration: underline;display: unset;}

.newsdate{display:inline-block;width:70px}
.newslink{font-size:10px;padding:0 0 10px 70px}
.tabdiv{display:inline-block;width:2rem;list-style:none;background-image:url(/m/list_marker.gif);background-repeat:no-repeat;background-position:4px 0;padding:0 .75rem;color:#000}

.em01{font-weight:bold}